<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Üben
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Üben</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="playReferenceSound()">Referenzton abspielen</ion-button>
  <jqxKnob #knobReference
           (onChange)="onSliderChange($event)"
           [value]="50" [min]="0" [max]="99" [startAngle]="90"
           [endAngle]="450" [snapToStep]="false" [rotation]="'clockwise'"
           [progressBar]="progressBar" [pointer]="pointer">
  </jqxKnob>
  {{sliderValue + (offset * 100) - 50 }}
  <ion-button expand="block" (click)="playSelectedSound()">Ausgewählten Ton abspielen</ion-button>
  <ion-button expand="block" color="success" class="ion-margin-top" (click)="confirmSelection()">Auswahl bestätigen
  </ion-button>
  <ion-button expand="block" color="medium" class="ion-margin-top" (click)="setup()">Setup</ion-button>

</ion-content>
