<ion-header>
  <ion-toolbar>
    <ion-title>Training erfolgreich beendet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Herzlichen Glückwunsch!</h1>
  <p>Du hast dein heutiges Training erfolgreich absolviert. </p>
  <p>Dein durchschnittlicher Score heute war <b>{{scoreToday}} Cents</b></p>
  <p *ngIf="scoreYesterday">Dein durchschnittlicher Score gestern war <b>{{scoreYesterday}} Cents</b>. {{scoreEval}}</p>
  <p>Machst du morgen weiter?</p>
  <ion-button [routerLink]="['/tabs/tab1']" class="ion-margin-top" expand="block">Fertig</ion-button>


</ion-content>
