<ion-header>
  <ion-toolbar>
    <ion-title>Üben</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Starte jetzt deine Trainingsmission für heute</h1>
  <div>
    Hast du gerade etwas Zeit und Lust, um deine musikalischen Fähigkeiten weiter zu trainieren?
    <br/>
    Denn mit nur 5 Minuten kannst du dein Ziel für heute erreichen.
    <br/>
    <br/>
    Falls du diese App das erste Mal ausprobierst, hier eine kurze Einführung für dich:
    <br/>
    <br/>
    1. Spiele den Referenzton mit dem oberen blauen Button ab und höre ihn dir an
    <br/>
    2. Spiele deinen Ton mit dem unterem blauen Button ab
    <br/>
    3. Während dein Ton erklingt, versuche mit dem großen Drehknopf deinen Ton an den Referenzton anzupassen
    <br/>
    <br/>
    Hör dir beliebig oft den Referenzton an.
    <br/>
    Wenn du damit fertig bist, bestätige das Ergebnis mit dem grünen Button.
    <br/>
    <br/>
    Viel Spaß!
    <br/>
    Jetzt aber ran an die Instrumente!
    <br/>
    <br/>
  </div>

  <ion-button [routerLink]="['/tabs/tab1/training']" expand="block">Trainingsmission jetzt starten</ion-button>
</ion-content>
